<main class="main">
  <div class="content" *ngIf="!timePassed; else timeOutTemplate">
    <h3>Todo List</h3>
    <div>
      <input
        type="text"
        placeholder="Search todos... (write title to search)"
        (input)="handleInputChange($event)"
        class="search-bar"
      />
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>UserId</th>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of filteredTodos">
            <td>{{ todo.userId }}</td>
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.completed ? "Completed" : "Pending" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #timeOutTemplate>
    <pre class="timeout-message">
      Todo List is not visible
      Time to view todo list is from 09:00am to 06:00pm. 
      You can revisit it tomorrow.
    </pre>
  </ng-template>
</main>